In [1]:
import pandas
pandas.__version__

'0.23.4'

In [2]:
!head RollingSystemDemand_20180901_0129.csv

HDR,ROLLING SYSTEM DEMAND
VD,20180601000000,25152
VD,20180601000500,25231
VD,20180601001000,25070
VD,20180601001500,25019
VD,20180601002000,24943
VD,20180601002500,24727
VD,20180601003000,24716
VD,20180601003500,24815
VD,20180601004000,24877

The "VD" entry is being used as an index because the header has two columns

Tell Pandas to not use the first column as the index

In [3]:
dframe = pandas.read_csv("RollingSystemDemand_20180901_0129.csv",
                         index_col=False)
dframe.head()

  HDR  ROLLING SYSTEM DEMAND
0  VD         20180601000000
1  VD         20180601000500
2  VD         20180601001000
3  VD         20180601001500
4  VD         20180601002000

Hmm, that's not quite what I intended.

Rather than Pandas trying to figure out what's going on, tell Pandas to skip the first row

`skiprows` : Line numbers to skip (0-indexed) or number of lines to skip (int) at the start of the file.

In [4]:
dframe = pandas.read_csv("RollingSystemDemand_20180901_0129.csv",
                         index_col=False,
                         skiprows=1)
dframe.head()

   VD  20180601000000    25152
0  VD  20180601000500  25231.0
1  VD  20180601001000  25070.0
2  VD  20180601001500  25019.0
3  VD  20180601002000  24943.0
4  VD  20180601002500  24727.0

And now Pandas assumes the first row is the header. Let's disable that

In [6]:
dframe = pandas.read_csv("RollingSystemDemand_20180901_0129.csv",
                         index_col=False,
                         skiprows=1, 
                         header=None)
dframe.head()

    0               1        2
0  VD  20180601000000  25152.0
1  VD  20180601000500  25231.0
2  VD  20180601001000  25070.0
3  VD  20180601001500  25019.0
4  VD  20180601002000  24943.0

Now we can set the column labels

In [7]:
dframe.columns=['VD','time of measurement','value']
dframe.head()

   VD  time of measurement    value
0  VD       20180601000000  25152.0
1  VD       20180601000500  25231.0
2  VD       20180601001000  25070.0
3  VD       20180601001500  25019.0
4  VD       20180601002000  24943.0

Let's check on the status of the data types in each column

In [8]:
dframe.dtypes

VD                      object
time of measurement      int64
value                  float64
dtype: object

_Lesson_: abstraction frameworks are convenient when the assumptions they make are correct. 

(Different confusion might have arisen if we had chosen to simply read in the file manually. Here we are using read_csv.)

Change the type from "int" to string so that we can then convert to datetime

In [ ]:
# https://stackoverflow.com/questions/17950374/converting-a-column-within-pandas-dataframe-from-int-to-string
dframe['time of measurement']=dframe['time of measurement'].apply(str)

Check the data type of the columns

In [ ]:
dframe.dtypes

In [ ]:
dframe.head()

Now we can apply the conversion of the time column from string to datetime

In [ ]:
pandas.to_datetime(dframe['time of measurement'],format='%Y%m%d%H%M%S')

Still getting errors!

A similar issue was solved here:
https://www.kaggle.com/najagumbi/data-cleaning-challenge-parsing-dates-v2

In [ ]:
pandas.to_datetime(dframe['time of measurement'],format='%Y%m%d%H%M%S',errors="coerce")

To confirm, inspect the bottom of the CSV

In [ ]:
!tail RollingSystemDemand_20180901_0129.csv