# multiple sheets

https://xlsxwriter.readthedocs.io/example_pandas_multiple.html

In [3]:
!pip install xlsxwriter

Collecting xlsxwriter
  Downloading https://files.pythonhosted.org/packages/3d/1b/4caecd4efde1d41ba3bef1a81027032a7a6dff7d5112e1731f232c0addb9/XlsxWriter-1.1.2-py2.py3-none-any.whl (142kB)
    100% |████████████████████████████████| 143kB 1.4MB/s ta 0:00:01
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-1.1.2
You are using pip version 9.0.3, however version 18.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [4]:
import pandas as pd

In [6]:
# Create some Pandas dataframes from some data.
df1 = pd.DataFrame({'Data': [11, 12, 13, 14]})
df2 = pd.DataFrame({'Data': [21, 22, 23, 24]})
df3 = pd.DataFrame({'Data': [31, 32, 33, 34]})

# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('pandas_multiple.xlsx', engine='xlsxwriter')

# Write each dataframe to a different worksheet.
df1.to_excel(writer, sheet_name='Sheet1')
df2.to_excel(writer, sheet_name='Sheet2')
df3.to_excel(writer, sheet_name='Sheet3')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [7]:
!ls

 excel_manipulation_using_openpyxl.ipynb		 pandas_multiple.xlsx
 excel_xlsxwriter_and_multiple_sheets_and_charts.ipynb	 simple.xlsx
'midterm project rubric.xlsx'

by default Pandas only loads the first sheet (and doesn't indicate there are other sheets)

In [8]:
df=pd.read_excel('pandas_multiple.xlsx')
df

   Data
0    11
1    12
2    13
3    14

In [9]:
df1=pd.read_excel('pandas_multiple.xlsx',sheet_name=1)
df1

   Data
0    21
1    22
2    23
3    24

https://xlsxwriter.readthedocs.io/working_with_pandas.html

Alternatively,

In [10]:
xls = pd.ExcelFile('pandas_multiple.xlsx')
df1 = pd.read_excel(xls, 'Sheet1')
df2 = pd.read_excel(xls, 'Sheet2')

In [11]:
df1

   Data
0    11
1    12
2    13
3    14

In [12]:
df2

   Data
0    21
1    22
2    23
3    24

# making charts in Excel

https://media.readthedocs.org/pdf/pandas-xlsxwriter-charts/latest/pandas-xlsxwriter-charts.pdf

page 12 of 51

In [13]:
# Some sample data to plot.
list_data = [10, 20, 30, 20, 15, 30, 45]
# Create a Pandas dataframe from the data.
df = pd.DataFrame(list_data)
# Create a Pandas Excel writer using XlsxWriter as the engine.
excel_file = 'simple.xlsx'
sheet_name = 'Sheet1'
writer = pd.ExcelWriter(excel_file, engine='xlsxwriter')
df.to_excel(writer, sheet_name=sheet_name)

In [14]:
import xlsxwriter

In [15]:
workbook = xlsxwriter.Workbook('simple.xlsx')
worksheet = workbook.add_worksheet()

In [16]:
# Create a chart object.
chart = workbook.add_chart({'type': 'column'})

In [17]:
# Configure the series of the chart from the dataframe data.
chart.add_series({'values': '=Sheet1!$B$2:$B$8'})

In [18]:
# You can also use array notation to define the chart values.
# chart.add_series({
# 'values': ['Sheet1', 1, 1, 7, 1],
# 'gap': 2,
# })

In [19]:
# Configure the chart axes.
chart.set_y_axis({'major_gridlines': {'visible': False}})
# Turn off chart legend. It is on by default in Excel.
chart.set_legend({'position': 'none'})
# Insert the chart into the worksheet.
worksheet.insert_chart('D2', chart)
# Close the Pandas Excel writer and output the Excel file.
writer.save()