In [22]:
import pandas
import numpy

https://docs.python.org/3.4/library/multiprocessing.html

In [4]:
from multiprocessing import Process
import os

In [17]:
def proc_info(title):
    print(title)
    print('\nmodule name:', __name__)
    print('parent process:', os.getppid())
    print('process id:', os.getpid())

def myfunc(name):
    print('I am in myfunc')
    proc_info('function myfunc')
    print('end of myfunc', name)

In [18]:
if __name__ == '__main__':
    proc_info('main line') # display info about this process
    p = Process(target=myfunc, args=('bob',))
    p.start()
    p.join()

main line

module name: __main__
parent process: 9
process id: 24
I am in myfunc
function myfunc

module name: __main__
parent process: 24
process id: 118
end of myfunc bob

https://docs.python.org/3.4/library/multiprocessing.html#using-a-pool-of-workers

In [2]:
from multiprocessing import Pool

In [20]:
def sq_fun(x):
    return x*x

if __name__ == '__main__':
    with Pool(5) as p:
        print(p.map(sq_fun, [1, 2, 3]))

[1, 4, 9]

Create random dataframe

https://stackoverflow.com/questions/32752292/how-to-create-a-data-frame-of-random-integers-with-pandas

In [25]:
df = pandas.DataFrame(
    numpy.random.randint(0,100,size=(100, 4)), 
    columns=list('ABCD')
    )
print(df.shape)
df.head()

(100, 4)

    A   B   C   D
0  23  62  34  85
1  21  99  19  45
2  98   1  26  30
3  51  48  71  30
4   8  69  70  98

http://www.racketracer.com/2016/07/06/pandas-in-parallel/

In [34]:
num_partitions = 7 #number of partitions to split dataframe
num_cores = 4 #number of cores on your machine

In [35]:
def parallelize_dataframe(df, func):
    df_split = numpy.array_split(df, num_partitions)
    pool = Pool(num_cores)
    df = pandas.concat(pool.map(func, df_split))
    pool.close()
    pool.join()
    return df

In [36]:
def multiply_columns(data):
    data['K'] = data['A'].apply(lambda x: x*2)
    return data
    
df = parallelize_dataframe(df, multiply_columns)

In [37]:
df.head()

    A   B   C   D    K
0  23  62  34  85   46
1  21  99  19  45   42
2  98   1  26  30  196
3  51  48  71  30  102
4   8  69  70  98   16